name: Main
on:
  pull_request:
  push:
    branches: [main]
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-24.04-arm, ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix build
      - run: nix flake check
